
body {
  background-image: url("justice-background.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: scroll


}

.container{


  width: 100%;
  float: none;
  color: #fff;
  justify-content: center;

  display: flex;
  flex-wrap: wrap;

  margin-top: 36px

}

table{

  border: 1px solid blue;
  background-color: blue;
  color: lightgreen;

}

td {
  border: 1px solid blue;


}

tr{

  border: 1px solid black;

}
.address {

  background-color: black;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  text-align: center;
}
